main {
  background-color: #fffefe;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
p {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #666;
}
a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  color: #089fe0;
  font-family: "Open Sans", sans-serif;
}
input {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #999;
}
button {
  background: #089fe0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
label {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #666;
}
